{% extends "base.html" %}
{% load static customtags %}

{% block title %}Home{% endblock %}

{% block head %}
<style media="screen">
    .container .card {
        max-width:800px
    }
</style>
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="font-weight-bold">Chat</h1>
    <div class="card card-body mx-auto text-left">
        <div class="btn-group btn-block mb-4" role="group">
            <button class="btn btn-primary" type="button">{{ user.username }} ({{ user.email }})</button>
            <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Sign out</a>
        </div>
        <h3>Users</h3>
        <div class="list-group">
            {% for user_dict in users %}
            <a href="{% build_chat_url user.username user_dict.username %}" class="list-group-item list-group-item-action">{{ user_dict.username }}</a>
            {% empty %}
            <p class="text-muted">Ups! no users to chat with.</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
